/* Background image for entire page */
body {
    background: url('../assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding-top:70px;
    font-family: Arial, sans-serif;
    margin: 0;
}



.btn-primary {
    background: rgba(13, 59, 102, 0.8);
    border: none;
    padding: 0.6rem 1.2rem;
    transition: 0.3s;
}

.btn-primary:hover {
    background: rgba(13, 59, 102, 1);
}

.recent-location{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index: 1030;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 20px;
}

.search-section{
    min-height: calc(100vh - 350px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Card for recent locations */
#recentContainer {
  min-height: 150px;
}


#recentCards .card {
  transition: transform 0.2s ease-in-out;
}

#recentCards .card:hover {
  transform: scale(1.05);
}

#recentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  gap: 15px;               /* Space between cards */
  margin-top: 20px;
}

#recentCards .card {
  max-width: 160px;
  text-align: center;
}
